* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 85, 101); 
}


nav {
    background-color:rgb(100, 100, 100) ;   
}

img {
    filter: brightness(40%);
}


.search-box {
    border: 1px solid white;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    padding-left: 10px;
}

.new_election input {
    border: 1px solid rgb(155, 106, 106);
    background-color: rgb(255, 255, 255);
    height: 37px;
    border-radius: 4px;
    padding-left:10px;
    margin-top: 3px;
}

.signup {
   margin-left:6px;
}
/* end of nav */
.site-summary {
    font-weight: 700;
}

footer a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    
}


a:hover {
    text-decoration: underline;
    font-style: italic;
}

/* register_voter.html styling starts here */
.voterform input {
    background:linear-gradient(90deg,rgb(100, 100, 100),rgb(85, 85, 101));
}


/* end of register_voter.html styling */


/* footer styling */

footer h3 {
    color: bisque;
    font-style: italic;
}

.Copyright {
    color: rgb(200, 200, 200);
}

.logo {
    width: 100px;
}

footer img {
    width: 25px;
}
/* end of footer */

/* election styles */
.existing_elections {
    
 
}
