{%extends 'base_template.html'%}

{%block title%}Candidates | BilotBlitz{%endblock title%}

{%block header%}
    <header>
        {%include 'header.html'%}
    </header>   
{%endblock header%}

{%block content%}
<main>   
    <div class="mb-5">
        {%include 'explore.html'%}
    </div>
    <div class="container">
        <div class="row mb-5">   
          <div class="col-12 col-lg-6 candidate-form-holder">
            <h3 class="text-center text-info display-1">CANDIDATES FORM</h3>
            <form method="POST" class="candidate-form">
              {% csrf_token %}
              {% for field in form %}            
                {% if field.errors %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger text-center m-0 p-0" role="alert">
                     {{error}}
                  </div>
                  {% endfor %}
                {% endif %}
                <p class="text-white m-0 p-0">{{ field.label_tag }}</p>
                <p class="m-0 pb-3">{{ field }}</p>             
              {% endfor %}
              <button class="btn btn-outline-info">Register Candidate</button>
            </form>
          </div>
          <div class="col-12 col-lg-6 mb-5 mt-5 m-lg-0">
            <h3 class="text-center text-info mb-0">REGISTERED CANDIDATES</h3>
            {% if candidates%}
            <div class="scrollable-div mt-0"> 
            <ol class="mt-0">
              {% for candidate in candidates reversed %}
              <li class="candidates text-info mt-2">
                <span>{{ candidate.candidate.first_name }} {{ candidate.candidate.last_name }}</span>
                 <span class="text-white">{{ candidate.portfolio_name.portfolio_name }}</span>
              </li>
              {% endfor %}
            </ol>
            </div>
            {%else%}
             <div class="scrollable">
                <h3 class="text-center text-warning pt-5">You Have No Candidate For This Election</h3>
             </div>
            {%endif%}
          </div>
        </div>
      </div>
      {%include 'site_visual.html'%}
</main>
{%endblock content%}

{%block footer%}
<footer>
    {%include 'footer.html'%}
</footer>
{%endblock footer%}

