{%extends 'index.html'%}

  {%block title%}My Elections | BilotBlitz{%endblock title%}

  {%block content%}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center display-1">My Elections</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 ">
        {% if existing_elections %}
          <div>
            <h3 class="text-center text-sm-start mb-3">Existing Elections:</h3>
            {% for election in existing_elections %}
              <p  class="text-center text-sm-start"><a href="{% url 'voter_register' election.id %}">{{ election.election_name }}</a></p>        
            {% endfor %}
          </div>
        {% else %}
            <h3 class="text-center text-sm-start">No Existing Election</h3>
        {% endif %}
        </div>
        <div class="col-12 col-md-6 ">
          <h3>Create New Election Instead?</h3>
          <form method="post" action="#" nonvalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>

    <div >
      {%include 'site_visual.html'%}
    </div>
</main>
  {%endblock content%}
