<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elections Officer</title>
</head>
<body>
    <a href="{% url 'login' %}">Sign In</a>
    <a href="{% url 'register' %}">Sign Up</a>
   

  <h2>Create or Select an Election</h2>

  {% if existing_elections %}
    <h3>Select Existing Election</h3>
      <div>
        <h5>Existing Elections:</h5>
          {% for election in existing_elections %}
            <a href="{% url 'voter_register' election.id %}">{{ election.election_name }}</a><br>
          {% endfor %}
      </div>
  {% endif %}

  <h3>Or Create New Election</h3>
  <form method="post" action="#" nonvalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>


</body>
</html>