{% load static %}


    <div class="container-fluid mt-5">
    <hr>
    <div class="site-summary container">
      <div class="row text-center text-lg-start">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <h3>Balaara Teck</h3>
          <a class="" href="#"><img class="logo" src="{% static 'images/logo.png' %}" alt="" >BilotBlitz</a>
          <p class="mt-3"><a href="">Terms</a> | <a href="">Conditions</a> | <a href="">Policies</a></p>
        </div>
        <div class="col-12 col-sm-6  col-md-4 col-xl-3">
          <h3>Explore</h3>
          <p><a href="">Home</a></p>
          <p><a href="">Contact</a></p>
          <p><a href="">Team</a></p>
          <p><a href="">Policy</a></p>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <h3>Connect Us</h3>
          <p><a href="face"><img src="{% static 'images/fb.png' %}" alt="Facebook">Facebook</a></p>
          <p><a href=""><img src="{% static 'images/ig.png' %}" alt="Instagram">Instagram</a></p>
          <p><a href=""><img src="{% static 'images/tw.png' %}" alt="Twitter">Twitter</a></p>
          <p><a href=""><img src="{% static 'images/yt.png' %}" alt="Youtube">Youtube</a></p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <h3>Contact Us:</h3>
          <p><a href=""><img src="{% static 'images/em.png' %}" alt="Email"> azonto90@gmail.com</a></p>
          <p><a href=""><img src="{% static 'images/ph.png' %}" alt="Phone"> 0266342915</a></p>
          <p><a href=""><img src="{% static 'images/ws.png' %}" alt="WhatSaPP"> 0536073305</a></p>
          
        </div>
       
      </div>
    </div>
    <hr width="70%" class="m-auto">
    <div class="mt-3 mb-3 Copyright">
      <p  class="text-center">Copyright &copy; 2023 By BilotBlitz. All Rights Reserved</p>
    </div>
</div>
 