{%extends 'base_template.html'%}

{%block header%}
    <header>
        {%include 'header.html'%}
    </header>
{%endblock header%}    
{%block content%}
    <main>
        <div class="mb-3">
            {%include "explore.html"%}
        </div>
        <h1 class="text-center display-1">Voters' Register</h1>
          
        <div class='container'>    
            {%if voters%}
            <div class="row voter text-light">
                <h3 class="col d-none d-lg-inline ">
                    Serial No
                </h3>
                <h3 class="col d-none d-sm-inline">
                    First Name 
                </h3>
                <h3 class="col d-none d-md-inline">
                    Last Name
                </h3>
                <h3 class="col text-start">
                    Email
                </h3>
                <h3 class="col text-end">
                    Voter ID 
                </h3>
            </div>
            {% for voter in voters %}
            <a class="each-voter" href="#">
            <div class="row voter">
                <div class="col d-none d-lg-inline">
                    {{voter.id}}
                </div>
                <div class="col d-none d-sm-inline">
                    {{ voter.first_name}} 
                </div>
                <div class="col d-none d-md-inline">
                    {{voter.last_name}}
                </div>
                <div class="col">
                    {{voter.email}}
                </div>
                <div class="col text-info text-end">
                    {{voter.voter_id}} 
                </div>
            </div>
            </a>
            {%endfor%}
            {%else%}
            <div class="no-voters">
                <h1 class="mt-0 mt-md-5">Oops!</h1>
                <p class="text-light">It seems you do not have voters for this election</p>
                <p class="text-light">If you have some, they would have displayed <em>here!</em></p>
                <p class="text-light">You can register them <a href="{% url 'voter_register' election.id %}">here</a></p>
            </div>
            {%endif%}
        </div>
        <div class="mt-5">
            {%include 'site_visual.html'%}
        </div>
        
    </main>
{%endblock content%}    
{%block footer%}
<footer>
    {%include 'footer.html'%}
</footer>

{%endblock footer%}
    
    
