{%extends 'base_template.html'%}

{%block title%}Portfolios | BilotBlitz{%endblock title%}

{%block header%}
    <header>
        {%include 'header.html'%}
    </header>
{%endblock header%}         

{%block content%}
<main>
    {% include 'explore.html'%}
<div class="container pt-5 pb-5">
    <div class="row pt-5 pb-5">
        <div class="col-12 col-md-6">
            
            <form method="POST" class="portfolio">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    <h3 class="text-center pb-3 portfolio-header">Create Your Portfolios Here</h3>
                    {% for field in messages %}
                    <div class="alert alert-success text-center" role="alert">
                        {{field}}
                    </div>    
                    {% endfor %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <small class="text-info ">
                                {{error}}
                            </small>
                            {% endfor%}
                        {% endif %}
                        <p class="pt-3">{{field}}</p>     
                </div>
                {%endfor%}
                <input type="submit" value="Create Portfolio" class="create-portfolio mb-3">
            </form>
        </div>
        <div class="col-12 col-md-6">
            
            <h3 class="portfolio-header text-center">Areas To Contest For:</h3>
            {% if portfolios %}
            <ol class="portfolios">
            {%for portfolio in portfolios%}
                <li>{{portfolio.portfolio_name}}</li>
            {%endfor%}    
            </ol>
            {%else%}
            <p class="text-center text-white">No portfolio for this election</p>
            {%endif%}
        </div>
    </div>
</div>
</main>
{%endblock content%}

{%block footer%}
<footer>
    {%include 'footer.html'%}
</footer>

{%endblock footer%}